body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #868e96;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2,
h4 {
  text-align: center;
}

#main_head_filling {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    rgba(150, 150, 150, 0.7),
    rgba(200, 200, 200, 0.3)
  );
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
  transition: 1s all;
}

#main_head_filling:hover {
  background-size: 0% 100%;
  background-color: rgba(150, 10, 250, 0.7);
}

#main_subhead_filling {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    rgba(250, 250, 50, 0.6),
    rgba(250, 250, 50, 1)
  );
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
  transition: 1s all;
}

#main_subhead_filling:hover {
  background-size: 0% 100%;
  background-color: rgba(255, 150, 0, 0.9);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
  color: whitesmoke;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  color: rgba(80, 50, 200, 0.8);
  transition: color 1s;
}

.subheading:hover {
  color: rgba(250, 50, 50, 0.9);
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgba(100, 90, 300, 0.3);
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 1s, font-size 1s, color 1s;
  -moz-transition: background-color 1s, font-size 1s, color 1s;
  -o-transition: background-color 1s, font-size 1s, color 1s;
  transition: background-color 1s, font-size 1s, color 1s;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: rgba(80, 50, 200, 0.9);
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.dev-icons {
  font-size: 3rem;
}
.dev-icons .list-inline-item i:hover {
  animation: change_color_icon 10s ease infinite;
}

@keyframes change_color_icon {
  0% {
    color: whitesmoke;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  90% {
    color: red;
  }
  100% {
    color: rgba(255, 0, 0, 0.1);
  }
}

.dev-icons .list-inline-item.my-icons img {
  margin-top: -20%;
  height: 1.1em;
  padding: 5px;
}

.dev-icons .list-inline-item.my-icons img:hover {
  animation: change_filter_icon 10s ease infinite;
  border-radius: 10px;
}

@keyframes change_filter_icon {
  0% {
    background: whitesmoke;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  75% {
    background: green;
  }
  90% {
    background: red;
  }
  100% {
    background: rgba(255, 0, 0, 0.1);
  }
}

.dev-icons .list-inline-item.my-lower-icons img {
  height: 80px;
  width: 80px;
  background: radial-gradient(rgba(150, 150, 150, 0.5), rgba(255, 255, 255, 0));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid #555;
  border-radius: 50%;
  -moz-transition: width 1s, height 1s, border-radius 1s;
  -webkit-transition: width 1s, height 1s, border-radius 1s;
  -o-transition: width 1s, height 1s, border-radius 1s;
  transition: width 1s, height 1s, border-radius 1s;
}

.dev-icons .list-inline-item.my-lower-icons img:hover {
  background: radial-gradient(
    rgba(80, 50, 200, 0.8),
    rgba(80, 50, 200, 0.6),
    rgba(80, 50, 200, 0.4),
    rgba(255, 255, 255, 0)
  ) !important;
  box-shadow: 0 0 15px #ffbb00;
  border: 1px solid #ff00dd;
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: rgba(110, 110, 180, 0.9);
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    -webkit-transition: width 1s, height 1s, border 1s;
    -moz-transition: width 1s, height 1s, border 1s;
    -o-transition: width 1s, height 1s, border 1s;
    transition: width 1s, height 1s, border 1s;
  }
  #sideNav .navbar-brand .img-profile:hover {
    width: 10.5rem;
    height: 10.5rem;
    border: 0.5rem solid rgba(250, 240, 50, 0.4);
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5%;
    transition: background-size 0.5s;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-size: 50% 5%;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.resume-item {
  padding: 2%;
}

.bg-primary {
  background-color: rgba(80, 50, 200, 1) !important;
}

.text_primary {
  color: rgba(80, 50, 200, 0.9);
}

a {
  color: rgba(80, 50, 200, 0.9);
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 0.7%;
  background-color: tomato;
  z-index: 99999999999999;
}

.social-icons a.button_download {
  background-color: rgba(80, 50, 200, 0.9);
  border-radius: 20px;
  height: 3.5rem;
  width: 9rem;
  margin-left: 35%;
  margin-top: 0%;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a.button_download:hover {
  white-space: nowrap;
}

a:hover,
a:focus,
a:active {
  color: rgba(100, 90, 300, 0.9);
}
b {
  font-size: auto;
  -moz-transition: font-size 1s, color 1s;
  -webkit-transition: font-size 1s, color 1s;
  -o-transition: font-size 1s, color 1s;
  transition: font-size 1s, color 1s;
}
b:hover {
  font-size: 105%;
  color: rgba(250, 50, 50, 0.9);
}
p b:hover {
  font-size: 110%;
  color: rgba(255, 150, 0, 0.9);
}
p {
  text-indent: 5%;
}

p#text_move {
  line-height: 1;
}

#text_move {
  transition: all 0.6s ease-in-out;
  transform: translate3d(0px, 30px, 10px);
}

#text_move.active {
  transform: translate3d(0px, 0px, 0px);
}

ul li#text_move span.one {
  transition: color 1s;
}

ul:hover li#text_move span.one {
  color: rgba(255, 50, 0, 0.9);
}

ul li#text_move span.two {
  transition: color 2s;
}

ul:hover li#text_move span.two {
  color: rgba(255, 100, 0, 0.9);
}

ul li#text_move span.three {
  transition: color 3s;
}

ul:hover li#text_move span.three {
  color: rgba(250, 150, 50, 0.9);
}

#interests {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#fon_main_block {
  position: relative;
  display: block;
  min-height: 100vh;
  margin-top: -1%;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 1)
    ),
    url("../img/backcover_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.backlight_black_text {
  color: #868e96;
}

.backlight_orange_text {
  color: #868e96;
}

#portfolio {
  margin-top: -10%;
}

#about {
  margin-bottom: -7%;
  margin-top: -7%;
}

#about p span {
  transition: color 0.7s;
}

#about:hover p span {
  color: black;
}

#awards {
  margin-bottom: -3%;
  margin-top: -3%;
}

#awards ul li span {
  transition: color 0.7s;
}

#awards:hover ul li span {
  color: black;
}

footer {
  overflow-x: hidden;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  position: sticky;
  bottom: 0%;
}

footer em {
  color: rgba(0, 0, 0, 0);
  transition: color 2s;
}

footer:hover em {
  color: white;
}

#skills {
  margin-top: -5%;
}

.my_container {
  display: flex;
  height: 60vh;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("../img/backcover_4.jpeg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  justify-content: space-around;
  align-items: center;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.card-item {
  background-color: #fff !important;
  width: 250px;
  height: 270px;
  transition: transform 0.2s;
  border: 1px solid #ccc;
  box-shadow: 10px -15px 10px 5px rgba(0, 0, 0, 0.4);
}

.card-item img {
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-left: 35%;
  padding-right: 20%;
  height: 40%;
}

.card-item em {
  margin: 10%;
  text-align: justify;
  font-weight: 600;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0);
  transition: border-bottom 0.3s;
}

.card-item:hover em {
  border-bottom-color: rgb(80, 80, 80);
}

#fixed {
  height: 300px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("../img/backcover_3.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.parallax_container {
  background-color: rgba(80, 50, 200, 0.9);
  overflow: hidden;
  padding: -1%;
}

.scene {
  position: relative;
  display: block;
  min-height: 100vh;
  width: 105%;
  left: -5%;
  top: 0;
  background: url("../img/backcover_2.jpg") center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.layer {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layer_1 {
  background: url("../img/parallax/backcover_2_1.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.layer_2 {
  background: url("../img/parallax/backcover_2_2.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.layer_3 {
  background: url("../img/parallax/backcover_2_3.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 20%;
  left: -2%;
  height: 100%;
  width: 100%;
}

.fa-li.fa.fa-check {
  color: rgba(250, 250, 50, 0.9);
}

.text_line {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.text_line:after {
  display: block;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.2),
    rgba(70, 40, 180, 1)
  );
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.text_line:hover:after,
.text_line:focus:after {
  width: 100%;
}

.text_line_reverse {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.text_line_reverse:after {
  display: block;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.2),
    rgba(70, 40, 180, 1)
  );
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.text_line_reverse:hover:after,
.text_line_reverse:focus:after {
  width: 100%;
  right: 0;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: whitesmoke;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.cir_card:nth-child(1) svg circle:nth-child(2) {
  stroke: rgba(0, 255, 0, 0.5);
  stroke-dasharray: 480;
  stroke-dashoffset: calc(480 - (480 * 100) / 100);
}
.cir_card:nth-child(2) svg circle:nth-child(2) {
  stroke: rgba(0, 0, 255, 0.5);
  stroke-dasharray: 420;
  stroke-dashoffset: calc(420 - (420 * 80) / 100);
}
.cir_card:nth-child(3) svg circle:nth-child(2) {
  stroke: rgba(255, 0, 0, 0.5);
  stroke-dasharray: 360;
  stroke-dashoffset: calc(360 - (360 * 60) / 100);
}

#cir_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#cir_container .cir_card {
  position: relative;
  width: 250px;
  height: 300px;
  background: linear-gradient(
    0deg,
    rgba(80, 50, 200, 0.8),
    rgba(70, 40, 180, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

#cir_container .cir_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

#cir_container .cir_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
}

.cir_percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: rgb(50, 10, 100);
}

.cir_percent .cir_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cir_percent .cir_number h3 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.cir_card:hover .cir_percent .cir_number h3 {
  color: #fff;
  font-size: 60px;
}

.cir_percent .cir_number h3 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.cir_card:hover .cir_percent .cir_number h3 span {
  color: #fff;
}

.cir_card:hover .cir_text {
  color: #fff;
}

.cir_text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.black_content {
  color: #868e96;
}

#viewport {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(
    bottom,
    rgba(80, 50, 200, 0.2) 30%,
    rgba(80, 50, 200, 0.8) 60%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(80, 50, 200, 0.2) 30%,
    rgba(80, 50, 200, 0.8) 60%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(80, 50, 200, 0.2) 30%,
    rgba(80, 50, 200, 0.8) 60%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(255, 255, 255) 0%,
    rgba(80, 50, 200, 0.5) 30%,
    rgba(80, 50, 200, 0.6) 50%,
    rgba(80, 50, 200, 0.5) 70%,
    rgb(255, 255, 255) 100%
  );
}

#world {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: 0px;
  height: 600px;
  width: 1200px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

.cloudBase {
  position: absolute;
  left: 256px;
  top: 256px;
  width: 250px;
  height: 50px;
  margin-left: -10px;
  margin-top: -10px;
}
.cloudLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 100px;
  margin-left: -250px;
  margin-top: -50px;
}

#blue {
  color: rgb(0, 0, 255);
  transition: 0.5s all;
}

#blue:hover {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  margin-top: -2%;
  color: rgba(0, 0, 255, 0.5);
  transform: rotate(-15deg);
}

#red {
  color: rgb(255, 0, 0);
  transition: 0.5s all;
}

#red:hover {
  color: rgba(255, 0, 0, 0.5);
  margin-top: -2%;
  transform: rotate(15deg);
}

#yellow {
  color: rgb(220, 255, 0);
  transition: 0.5s all;
}

#yellow:hover {
  color: rgba(220, 255, 0, 0.5);
  margin-top: -2%;
  transform: rotate(180deg);
}

#green {
  color: rgb(0, 255, 0);
  transition: 0.1s all;
}

#green:hover {
  color: rgba(0, 255, 0, 0.5);
  margin-top: 1.5%;
  transform: rotate(10deg);
}

#blink:hover {
  -webkit-animation: blink 0.5s 0.7s ease infinite;
  -moz-animation: blink 0.5s 0.7s ease infinite;
  -o-animation: blink 0.5s 0.7s ease infinite;
  animation: blink 0.5s 0.7s ease infinite;
}
@-webkit-keyframes blink {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  25% {
    color: rgba(50, 50, 50, 0.3);
  }
  50% {
    color: rgba(50, 50, 50, 0.6);
    padding: 0;
    margin: 0;
  }
  75% {
    color: rgba(50, 50, 50, 0.9);
    margin-top: -10px;
  }
  80% {
    color: rgba(90, 40, 40, 1);
    margin-top: 10px;
  }
  85% {
    color: rgba(130, 30, 30, 1);
    margin-left: 20px;
  }
  90% {
    color: rgba(170, 20, 20, 1);
    margin-left: -40px;
  }
  95% {
    color: rgba(210, 10, 10, 1);
    padding: 0;
    margin: 0;
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}
@-moz-keyframes blink {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  25% {
    color: rgba(50, 50, 50, 0.3);
  }
  50% {
    color: rgba(50, 50, 50, 0.6);
    padding: 0;
    margin: 0;
  }
  75% {
    color: rgba(50, 50, 50, 0.9);
    margin-top: -10px;
  }
  80% {
    color: rgba(90, 40, 40, 1);
    margin-top: 10px;
  }
  85% {
    color: rgba(130, 30, 30, 1);
    margin-left: 20px;
  }
  90% {
    color: rgba(170, 20, 20, 1);
    margin-left: -40px;
  }
  95% {
    color: rgba(210, 10, 10, 1);
    padding: 0;
    margin: 0;
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}
@-o-keyframes blink {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  25% {
    color: rgba(50, 50, 50, 0.3);
  }
  50% {
    color: rgba(50, 50, 50, 0.6);
    padding: 0;
    margin: 0;
  }
  75% {
    color: rgba(50, 50, 50, 0.9);
    margin-top: -10px;
  }
  80% {
    color: rgba(90, 40, 40, 1);
    margin-top: 10px;
  }
  85% {
    color: rgba(130, 30, 30, 1);
    margin-left: 20px;
  }
  90% {
    color: rgba(170, 20, 20, 1);
    margin-left: -40px;
  }
  95% {
    color: rgba(210, 10, 10, 1);
    padding: 0;
    margin: 0;
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}
@keyframes blink {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  25% {
    color: rgba(50, 50, 50, 0.3);
  }
  50% {
    color: rgba(50, 50, 50, 0.6);
    padding: 0;
    margin: 0;
  }
  75% {
    color: rgba(50, 50, 50, 0.9);
    margin-top: -10px;
  }
  80% {
    color: rgba(90, 40, 40, 1);
    margin-top: 10px;
  }
  85% {
    color: rgba(130, 30, 30, 1);
    margin-left: 20px;
  }
  90% {
    color: rgba(170, 20, 20, 1);
    margin-left: -40px;
  }
  95% {
    color: rgba(210, 10, 10, 1);
    padding: 0;
    margin: 0;
  }
  100% {
    color: rgba(255, 0, 0, 0.8);
  }
}
